{% load static %}

<nav class="navbar navbar-expand-lg navbar-success mb-1" style="background-color:#1A3D63; color: white;">
  <img src="{% static './NGOUO.png' %}" alt="" width="60", height="60">
  {% if request.user.is_authenticated %}
  <div class="username" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  ; font-size: 28px; margin-left: 10.5rem;">{{user.username}}</div>
  <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa fa-sort-desc" aria-hidden="true" style="color: white;"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            
            <a class="btn" class="nav-link text-white" href="{%url 'logout'%}"
             style="position: relative; 
                    margin-left: 12rem; 
                    font-weight: bold; 
                    background-color: #B3CFE5;"
            >
            <i class="fa fa-sign-out" aria-hidden="true" width="5" height="5"></i>
            Deconnexion</a
          >
          </li>
        </ul>
      </div>
      {% endif %}
</nav>


